<%#= render 'shared/error_messages', object: f.object %>
<div class="component field">
    <%= f.text_field :amount, placeholder: "amount..." %>
    <%= f.label :ingredient, "select ingredient" %>
    <%= f.select :ingredient_id, @ingredients.collect {|p| [ p.name, p.id ] }, {include_blank: 'none'} %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "remove ingredient" %>
    <%#= f.hidden_field :_destroy %>
		<%#= button_to_remove_fields "remove", f %>
</div>
	