<div class="nested-fields">
	<div class="field">
    <%= f.label :amount, "amount" %>
    <%= f.text_field :amount %>
  </div>
	<div class="field">
    <%= f.label :ingredient, "select ingredient" %>
    <%= f.select :ingredient_id, @ingredients.collect {|p| [ p.name, p.id ] }, 
    	{include_blank: 'none'} %>
  </div>
  <div class="btn">
  	<%= link_to_remove_association "remove ingredient", f %>
  </div>
</div>
    <%#= f.check_box :_destroy %>
    <%#= f.label :_destroy, "remove ingredient" %>
    <%#= f.hidden_field :_destroy %>
		<%#= button_to_remove_fields "remove", f %>
	