<div class="nested-fields">
	<div class="field">
    <%= f.label :amount, "amount" %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.hidden_field :cocktail_id, value: @cocktail.id %>
  </div>
	<div class="field">
    <%= f.label :ingredient, "select ingredient" %>
    <%= f.select :ingredient_id, @ingredients.collect {|p| [ p.name, p.id ] }, 
    	{include_blank: 'none'} %>
  </div>
  <div class="btn">
  	<%= link_to_remove_association "remove ingredient", f %>
  </div>
</div>
	