<%= form_for(@cocktail) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "cocktail name..." %>
  </div>
  <div class="field">
    <%= f.text_field :description, placeholder: "description..." %>
  </div>
  <div class="field">
    <%= f.label :rating, "rating (out of 5)" %>
    <%= f.select :rating, ratings %>
  </div>
    <%= f.fields_for :components do |builder| %>
      <%= render "component_fields", f: builder %>
    <% end %>
  <div>
    <%#= button_to_add_fields "add ingrededient", f, :components %>
  </div>
  <%= f.submit "save cocktail", class: "btn btn-large btn-primary" %>
<% end %>
