<%= form_for(@cocktail) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "cocktail name..." %>
  </div>
  <div class="field">
    <%= f.text_field :description, placeholder: "description..." %>
  </div>
  <div class="field">
    <%= f.label :rating, "rating (out of 5)" %>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.fields_for :components do |builder| %>
      <%= render "shared/components_form", f: builder %>
    <% end %>
  </div>
  <%= f.submit "save cocktail", class: "btn btn-large btn-primary" %>
<% end %>
