<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

      <%= f.label :name, "name" %>
      <%= f.text_field :name %>

      <%= f.label :email, "email" %>
      <%= f.text_field :email %>

      <%= f.label :password, "password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "confirm password" %>
      <%= f.password_field :password_confirmation %>
  
      <% if @user.new_record? %>  
        <%= f.submit "create my account", class: "btn btn-large btn-primary" %>
      <% else %>
        <%= f.submit "save changes", class: "btn btn-large btn-primary" %>
      <% end %>

    <% end %>
  </div>
</div>
<% end %>
