<% provide(:title, @user.name) %>
<div class="row">
  <div class="span6">
    <h3>liquor cabinet </h3>
      <%= will_paginate @ingredients, param_name: 'ingredients_page' %>
      <ol class="ingredients">
        <li> 
          <%= link_to "add new ingredient", new_ingredient_path %>
        </li>
        <% if @user.ingredients.any? %>
          <%= render @ingredients %>
        <% end %>
      </ol>
      <%= will_paginate @ingredients, param_name: 'ingredients_page' %>
  </div>
  <div class="span6">
    <h3>cocktails</h3>
      <%= will_paginate @cocktails, param_name: 'cocktails_page' %>
      <ol class="cocktails">
        <li> 
          <%= link_to "add new cocktail", new_cocktail_path %>
        </li>
        <% if @user.cocktails.any? %>
          <%= render @cocktails %>
        <% end %>
      </ol>
      <%= will_paginate @cocktails, param_name: 'cocktails_page' %>
  </div>
</div>
