<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>
        <%= @user.name %>
      </h3>
    </section>
  <% if @user == current_user #signed_in? %>
<!--     <section>
      <%= render 'shared/user_info' %>
    </section>
 -->    <section>
      <%= render 'shared/cocktail_form' %>
    </section>
  <% end %>
  </aside>
  <div class="span8">
    <% if @user.cocktails.any? %>
      <h3>cocktails</h3>
      <ol class="cocktails">
        <%= render @cocktails %>
      </ol>
      <%= will_paginate @cocktails %>
    <% end %>
  </div>
</div>
