<%= form_for(@ingredient) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "ingredient name..." %>
  </div>
  <div class="field">
    <%= f.text_field :brand, placeholder: "brand name (optional)..." %>
  </div>
  <div class="field">
    <%= f.text_field :description, placeholder: "description..." %>
  </div>
  <div class="field">
    <%= f.text_field :category, 
          placeholder: "category (mixer, liquor, etc)..." %>
  </div>
  <div class="field">
    <%= f.label :rating, "rating (out of 5)" %>
    <%= f.select :rating, ratings %>
  </div>
  <div class="field">
    <%= f.label :proof, "proof" %>
    <%= f.number_field :proof %>
  </div>
  <%= f.submit "save ingredient", class: "btn btn-large btn-primary" %>
<% end %>
