<h1>Listing generics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Proof</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @generics.each do |generic| %>
      <tr>
        <td><%= generic.name %></td>
        <td><%= generic.proof %></td>
        <td><%= generic.category %></td>
        <td><%= link_to 'Show', generic %></td>
        <td><%= link_to 'Edit', edit_generic_path(generic) %></td>
        <td><%= link_to 'Destroy', generic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generic', new_generic_path %>
